section#header{
	header{
        margin-top:10px;
		background-color:#003869;
		color:white;

        span{
            padding-top:2px;
            display:block;
            float:left;
        }

        ul{
            padding-top:2px;
            padding-left:5px;
            float:left;
        }

        div.box{
            padding-top:8px;
            padding-bottom:8px;
        }

        span.texto-branco{
            margin-left:5px;
            font-size:15px;
        }

        ul.redes_sociais_header{
            height: 22px;
            text-align: left;
            list-style:none;
            margin-bottom:0;
        }

        ul.redes_sociais_header li:hover{
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
        }

        ul.redes_sociais_header li{
            margin-right: 5px;
        }

        ul.redes_sociais_header a{
            display: inline-block;
            width:22px;
            height:20px;
        }

        ul.redes_sociais_header .youtube{
            background-image: url("images/redes-top.png");

            background-position: left,center;
            background-repeat:no-repeat;
            width:22px;
            height:20px;
            display:inline-block;       
        }

        ul.redes_sociais_header .instagram{
            background-image: url("images/redes-top.png");
            background-position: -34px,center;
            background-repeat:no-repeat;
            width:22px;
            height:20px;
            display:inline-block;       
        }

        ul.redes_sociais_header .twitter{
            background-image: url("images/redes-top.png");
            background-position: -66px,center;
            background-repeat:no-repeat;
            width:22px;
            height:20px;
            display:inline-block;       
        }

        ul.redes_sociais_header .facebook{
            background-image: url("images/redes-top.png");
            background-position: -98px,center;
            background-repeat:no-repeat;
            width:22px;
            height:20px;
            display:inline-block;       
        }
        .btn-login{
            background-color:#ffc709;
            padding:5px 10px;
            color:#003869;
            border:0;
            font-weight: bold;
            border-radius: 5px; 
            margin-left: 10px;
            font-size:12px;
        }

        .btn-login:hover{
            background-color:#ffdd6b;
        }

	}

	nav{
        padding:20px 0;

        div.menu-header{
            margin-top: 25px;

            div.menu-op{
                float:left;
                width: 16.66%;
                a{
                    color:#858585;
                    font-weight: bold;
                }
                a:hover{
                    color:#ffc709;
                }
            }
        }

	}
}

@media (max-width: 991px) {  
    div.menu-responsivo{
        width: 50px;
        text-align: left;
        display: block;
        padding: 10px;
    }
    div.menu-header{
        display: none;
    }
}

@media (min-width: 992px) {  
    div.menu-responsivo{
        display: none;
    }
    ul.menu-header{
        display: block;
    }   
}
